[submodule "modules/DM_Generator"]
	path = modules/DM_Generator
	url = https://github.com/DeepTaskHY/DM_Generator
[submodule "modules/KM"]
	path = modules/KM
	url = https://github.com/DeepTaskHY/KM_python
