<launch>
    <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch"/>
    <include file="$(find dm_generator)/launch/dm_homecare.launch"/>
    <include file="$(find km)/launch/km_launcher.launch"/>
    <include file="$(find vision)/launch/vision_launcher.launch"/>
    <include file="$(find speech)/launch/speech_launcher.launch"/>
    <node pkg="tm" name="PM_node" type="pm_launcher.py"/>
    <node pkg="tm" name="TM_node" type="tm_launcher.py"/>
</launch>
